{% extends 'main/base_generic.html' %} 

{% block content %}

<h1> Главаня страница </h1>

<p> Добро пожаловать в <em>Мир книг</em>, Это очень простой
    веб-сайт, написанный на Django. Разработан на Python
    в качестве учебного примера с использованием Visual Studio Code </p>

<h2>Динамический контент</h2>

<p> База данных сайта Мир книг содержит следующее колличество записей: </p>

<ul>
    <li><strong> Колличество книг: </strong>{{num_books}}</li>
    <li><strong> Колличество экземпляров книг: </strong>{{num_instance}}</li>
    <li><strong> Колличество экземпляров книг в заказе: </strong>{{num_instance_available}}</li>
    <li><strong> Колличество авторов книг: </strong>{{num_authors}}</li>
</ul>

<p> Колличество посещений данной страницы - {{ num_visits }}</p>

{% endblock %}